.clearer {
	clear: both;
}
button {
	cursor: pointer;
}

div.buscador {
	margin-bottom: 10px;
	height: 60px;
}
div.buscador .fixed {
	background-color: #fff;
	line-height: 30px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	position: fixed;
	padding: 15px 1% 15px 1%;
	height: 60px;
	width: 100%;
}
.busquedas-contenedor {
	border: 2px dashed #ddd;
	margin: 20px;
	padding: 20px;
	border-radius: 10px;
	background-color: #fafafa;
}
.busquedas {
	padding: 0;
	margin: 0;
}
.busquedas li {
	list-style: none;
}
.busquedas .handle {
	background-color: #eee;
	vertical-align: top;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	text-align: center;
	font-size: 26px;
	display: inline-block;
	cursor: -webkit-grab;
	cursor: grab;
	border: 2px dotted #999;
	height: 34px;
	color: #444;
	width: 25px;
}
.busquedas .handle:active {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}
.busquedas .boton {
	margin-left: 5px;
	height: 34px;
	line-height: 34px;
	font-size: 17px;
	padding: 0;
	width: 34px;
	text-align: center;
}
.editbusqueda {
	margin: 20px auto;
	font-size: 1.1em;
}
#buscador {
	line-height: 30px;
	min-width: 40%;
	display: inline;
	width: auto;
}


.left_big { float: left; }
.right_big { float: right; }
.clear { clear: both; }

#inventario { }
#inventario > div { }

.objeto, .titulo {
	transition: 0.2s all ease;
}
.objeto {
	background-color: #ddd;
	text-align: left;
	padding: 0;
	border: 1px solid #000;
	margin: 2px;
	vertical-align: top;
}
.objeto > div > div {
	padding: 1px 2px 1px 2px;
}
.objeto .titulo {
	background-color: #000;
	padding: 5px;
	color: #fff;
}
.objeto .info {
	display: inline-block;
	width: 200px;
}
.objeto .img-container {
	background-color: #a7a7a7;
	border-right: 1px solid #000;
	margin-right: 8px;
	text-align: center;
	display: inline-block;
	height: 128px;
	width: 128px;
	float: left;
}

.objeto .img-container .img {
	vertical-align: middle;
	max-height: 128px;
	max-width: 128px;
	padding: 5px;
}
.objeto:hover {
	background-color: #ebc3f0;
	border-color: #42004a;
	box-shadow: 0 0 10px #000;
}
.objeto:hover > .titulo {
	background-color: #42004a;
}

.objeto.alerta {
	background-color: #F00;
	color: #fff;
}

.objeto .tags-list > span {
	background-color: #eee;
	border-radius: 4px;
	margin-bottom: 4px;
	margin-right: 4px;
	display: inline-block;
	padding: 0px 3px;
	border: 1px solid #aaa;
	color: #444;
}

.nombre {
	display: inline;
}

.popup {
	position: fixed;
	z-index: 0;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
.popup .bg {
	background-color: rgba(0, 0, 0, 0.75);
	position: fixed;
	z-index: -1;
	height: 100%;
	width: 100%;
}
.popup > .msg {
	padding: 2%;
	height: 100%;
}
.popup > .msg > div {
	background-color: #fff;
	box-shadow: 0 0 40px 10px #000;
	overflow-y: auto;
	max-height: 100%;
}
.popup + .popup > .msg {
	padding: 4%;
}
.popup + .popup + .popup > .msg {
	padding: 6%;
}
.popup + .popup + .popup + .popup > .msg {
	padding: 8%;
}

.popup > .msg form {
	background-color: #fafafa;
	transition: .3s all ease;
	position: relative;
	display: block;
	padding: 6px;
	border: 1px solid #ddd;
	margin: 3px;
	width: 49%;
}

.popup > .msg .msg {
	position: relative;
	font-weight: bold;
	margin-left: 20%;
	display: block;
}
.popup > .msg form > div {
	display: inline-block;
	margin-right: 1%;
	vertical-align: top;
}
.popup > .msg form > div:nth-child(1) {
	width: 26%;
	text-align: right;
	height: 34px;
	line-height: 34px;
}
.popup > .msg form > div:nth-child(2) {
	width: 72%;
}
.popup > .msg form > div:nth-child(2) > input {
	width: 100%;
}
.popup > .msg form #img_objeto {
	max-width: 128px;
	max-height: 128px;
}
.popup > .msg form.img {
	height: 180px;
}
.popup > .msg form .cantidades .add {
	margin-bottom: 15px;
	margin-top: 10px;
	display: block;
	font-size: 1.2em;
	padding: 0;
	height: 30px;
	line-height: 30px;
}
.popup > .msg form .tabla {
	background-color: #f6ffd2;
	background-color: #fff;
	border: 1px solid #cbcbcb;
	border-bottom: 0 solid;
}
.popup > .msg form .tabla span {
	display: inline-block;
	border-right: 1px solid #cbcbcb;
	padding: 3px 0;
	text-align: center;
	color: #000;
}
.popup > .msg form .cantidad-block {
	background-color: #f6ffd2;
	background-color: #fff;
	border-bottom: 1px solid #cbcbcb;
}
.popup > .msg form .cantidad-block > div {
	vertical-align: middle;
	display: inline-block;
}
.popup > .msg form .cantidad-block .contenido {
	width: 88%;
}
.popup > .msg form .cantidad-block .contenido.c2 {
	margin-left: 1%;
}
.popup > .msg form .cantidad-block select,
.popup > .msg form .cantidad-block input,
.popup > .msg form .cantidad-block img {
	width: 100%;
}
.popup > .msg form .cantidad-block select,
.popup > .msg form .cantidad-block input {
	display: inline-block;
	height: 30px;
}
.popup > .msg form .cantidad-block select,
.popup > .msg form .tabla span:nth-child(1),
.popup > .msg form .tabla span:nth-child(2) {
	width: 41%;
}
.popup > .msg form .cantidad-block input,
.popup > .msg form .tabla span:nth-child(3) {
	width: 18%;
}
.popup > .msg form .cantidad-block input {
	margin-top: -2px;
}
.popup > .msg form .cantidad-block select ,
.popup > .msg form .cantidad-block input {
	border-right: 1px solid #cbcbcb;
	border-left: 0 none;
	border-top: 0 none;
	border-bottom: 0 none;
	border-radius: 0;
	box-shadow: none;
}
.popup > .msg form .cantidad-block .borrar {
	width: 12%;
	text-align: center;
}
.popup > .msg form .cantidad-block .borrar .btn {
	padding: 0px 5px;
	font-weight: bold;
}

.popup > .msg form > div:nth-child(2) span > span {
	display: inline-block;
	width: 20%;
}
.popup > .msg form > div:nth-child(2) span > input {
	display: inline;
	width: 80%;
}

.popup > .msg .tokenfield .token .token-label {
	max-width: 180px !important;
}

.popup > .msg .confirmBorrar {
	background-color: #570909;
}
.popup > .msg .confirmBorrar .botonesAceptarCancelar {
	background-color: #781d1d;
}
.popup > .msg .confirmBorrar .titulo {
	text-align: center;
	font-size: 20px;
	padding: 30px;
	color: #eee;
}

/*Error*/
.popup > .msg .confirmError {
	background-color: #570909;
}
.popup > .msg .confirmError .botonesAceptarCancelar {
	background-color: #781d1d;
}

/*Warning*/
.popup > .msg .confirmBorrar {
	background-color: #a1a100;
}
.popup > .msg .confirmBorrar .botonesAceptarCancelar {
	background-color: #dbdb00;
}

.popup > .msg .titulo {
	text-align: center;
	font-size: 20px;
	padding: 30px;
	color: #eee;
}
.popup > .msg .botonesAceptarCancelar {
	background-color: #d7ffa4;
	padding-bottom: 15px;
	padding-top: 30px;
	text-align: center;
	margin-top: 10px;
	position: relative;
}
.popup > .msg .botonesAceptarCancelar button {
	margin: 0 5px;
}
.popup > .msg .botonesAceptarCancelar button.guarda,
.popup > .msg .botonesAceptarCancelar button.borra {
	padding: 10px 50px;
}
.popup > .msg .botonesAceptarCancelar button.cierra {
	padding: 10px 30px;
}
.popup > .msg .botonesAceptarCancelar > div.borra {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100px;
	height: 30px;
	margin: 5px;
}
.popup > .msg .botonesAceptarCancelar > div.borra button.borra {
	padding: 0;
	height: 100%;
	width: 100%;
	margin: 0;
}
.popup > .msg .lista-almacenes-secciones .almacen {
	background-color: #eee;
	vertical-align: top;
	box-shadow: 2px 2px 2px #bbb;
	position: relative;
	overflow: hidden;
	display: inline-block;
	padding: 5px;
	border: 1px solid #000;
	margin: 5px;
	width: auto;
}
.popup > .msg .lista-almacenes-secciones .form-control {
	margin-bottom: 3px;
	display: inline-block;
}
.popup > .msg .lista-almacenes-secciones .form-control,
.popup > .msg .lista-almacenes-secciones .btn.addseccion {
	width: 250px;
}
.popup > .msg .lista-almacenes-secciones .btn.addseccion {
    margin-bottom: 15px;
}
.popup > .msg .lista-almacenes-secciones .header {
	border-bottom: 1px solid #989898;
	margin-bottom: 7px;
	padding-left: 25px;
	margin-right: 80px;
	font-weight: bold;
	margin-left: -5px;
	margin-top: 15px;
	box-shadow: 120px 0 60px -60px #e2c961 inset;
	padding: 7px 0 2px 25px;
	display: block;
}
.popup > .msg .lista-almacenes-secciones .header.first {
	margin-top: 0;
}
.popup > .msg .lista-almacenes-secciones .seccion .btn {
	line-height: 20px;
	font-weight: bold;
	margin-left: 5px;
	font-size: 12px;
	padding: 0;
	height: 20px;
	width: 20px;
}
.popup > .msg .lista-almacenes-secciones .btn.borraalmacen {
	border-radius: 0px 0px 0 20px;
	position: absolute;
	padding: 0 4px 0 10px;
	display: block;
	border: 1px solid #000;
	border-right: 0;
	border-top: 0;
	right: 0;
	top: 0;
}
.popup > .msg .lista-almacenes-secciones .addAlmacenContainer {
	background-color: #f7f7f7;
	padding: 10px;
	text-align: center;
	margin-bottom: -10px;
	margin-top: 10px;
	border: 2px dashed #eaeaea;
}

.has-help {
	position: relative;
}
.has-help .desc {
	display: none;
}
.has-help:hover .desc {
	background-color: #2196f3;
	border-radius: 20px;
	white-space: normal;
	line-height: 1em;
	text-align: left;
	position: absolute;
	display: block;
	padding: 10px;
	z-index: 1;
	border: 3px dotted #fff;
	color: #fff;
	left: 26%;
	top: 34px;
}
.has-help:hover .desc img {
	margin-top: 10px;
}


.aBorrarNombre {
	border: 1px solid #fff;
	margin-top: 1em;
	font-size: .8em;
	background-color: #000;
}
.aBorrarSeccionCantidad {
	border: 1px solid #fff;
	border-top: 0;
	font-size: .8em;
	background-color: #555;
}
.aBorrarNombre .var,
.aBorrarSeccionCantidad .var {
	font-size: .8em;
	font-family: verdana;
}


.popup > .msg .ajax {
	transition: .3s all ease;
}
.popup > .msg .ajax.OK {
	background-color: #aeff9e;
	border-color: #38aa05;
}
.popup > .msg .ajax.ERROR {
	background-color: #eaa1a1;
	border-color: #b00000;
}


@media (max-width: 1024px) {
	.left_big,
	.right_big {
		float: none;
	}
	.popup > .msg form {
		width: 100%;
	}
}

