.clearer {
	clear: both;
}
button {
	cursor: pointer;
}

div.buscador {
	margin: 1%;
	line-height: 30px;
}
#buscador {
	line-height: 30px;
	min-width: 40%;
	display: inline;
	width: auto;
}

.objeto, .titulo {
	transition: 0.2s all ease;
}
.objeto {
	background-color: #ddd;
	text-align: left;
	padding: 0;
	border: 1px solid #000;
	margin: 2px;
	float: left;
}
.objeto > div > div {
	padding: 1px 2px 1px 2px;
}
.objeto .titulo {
	background-color: #000;
	padding: 5px;
	color: #fff;
}
.objeto .info {
	display: inline-block;
	width: 200px;
}
.objeto .img-container {
	background-color: #a7a7a7;
	border-right: 1px solid #000;
	margin-right: 8px;
	display: inline-block;
	height: 128px;
	float: left;
}

.objeto .img-container .helper {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}
.objeto .img-container .img {
	vertical-align: middle;
	max-height: 128px;
	max-width: 128px;
	padding: 5px;
}
.objeto:hover {
	background-color: #ebc3f0;
	border-color: #42004a;
	box-shadow: 0 0 10px #000;
}
.objeto:hover > .titulo {
	background-color: #42004a;
}

.objeto.alerta {
	background-color: #F00;
	color: #fff;
}

.objeto .tags-list > span {
	border: 1px solid #aaa;
	border-radius: 4px;
	margin-right: 4px;
	padding: 0px 3px;
	background-color: #eee;
	color: #444;
	display: inline-block;
	margin-bottom: 4px;
}

.nombre {
	display: inline;
}

.popup {
	position: absolute;
	z-index: 0;
	width: 100%;
	left: 0;
	top: 0;
}
.popup .bg {
	background-color: rgba(0, 0, 0, 0.75);
	position: fixed;
	z-index: -1;
	height: 100%;
	width: 100%;
}
.popup .closeButton {
	position: absolute;
	top: -30px;
	right: 0;
	margin-right: 5%;
	margin-top: 5%;
	width: 30px;
	height: 30px;
}
.popup .closeButton button {
	width: 100%;
	height: 100%;
	background-color: #f00;
	border-color: #f00;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	padding: 0;
}
.popup > .msg {
	background-color: #fff;
	padding: 1%;
	margin: 5%;
	border: 1px solid #aaa;
}

.popup > .msg form {
	background-color: #fafafa;
	transition: .3s all ease;
	position: relative;
	display: block;
	padding: 6px;
	border: 1px solid #ddd;
	margin: 3px;
}
.popup > .msg form.success {
	background-color: #48a748;
	color: #fff;
}
.popup > .msg form.fail {
	background-color: #a82c2c;
	color: #fff;
}
.popup > .msg form .msg {
	position: relative;
	font-weight: bold;
	left: 20%;
	display: block;
}
.popup > .msg form > div {
	display: inline-block;
	margin-right: 1%;
	vertical-align: top;
}
.popup > .msg form > div.hideNextElement + div {
	display:none;
}
.popup > .msg form > div:nth-child(1) {
	width: 19%;
	text-align: right;
	height: 34px;
	line-height: 34px;
}
.popup > .msg form > div:nth-child(2) {
	width: 59%;
}
.popup > .msg form > div:nth-child(3) {
	width: 19%;
}
.popup > .msg form > div:nth-child(2) > input,
.popup > .msg form > div:nth-child(3) > input {
	width: 100%;
}
.popup > .msg form > div:nth-child(3) {
	margin-right: 0;
}
.popup > .msg form #img_objeto {
	max-width: 128px;
	max-height: 128px;
}
.popup > .msg form .cantidades .add {
	width: 40%;
	margin-bottom: 15px;
	display: block;
	margin-left: 30%;
}
.popup > .msg form .cantidad-block {
	background-color: #f6ffd2;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid #cbcbcb;
}
.popup > .msg form .cantidad-block > div {
	vertical-align: top;
	display: inline-block;
}
.popup > .msg form .cantidad-block .contenido {
	width: 85%;
}
.popup > .msg form .cantidad-block .contenido.c2 {
	margin-left: 1%;
}
.popup > .msg form .cantidad-block select,
.popup > .msg form .cantidad-block input,
.popup > .msg form .cantidad-block img {
	width: 100%;
}
.popup > .msg form .cantidad-block select,
.popup > .msg form .cantidad-block input {
	display: inline-block;
	height: 30px;
}
.popup > .msg form .cantidad-block select {
	margin-right: 1%;
	width: 40%;
}
.popup > .msg form .cantidad-block input {
	margin-top: -2px;
	width: 15%;
}
.popup > .msg form .cantidad-block .borrar {
	margin-left: 1%;
	text-align: center;
	float: right;
}
.popup > .msg form .cantidad-block .borrar .btn {
	height: 30px;
	line-height: 30px;
	padding: 0 12px;
	font-weight: bold;
}

.popup > .msg form > div:nth-child(2) span > span {
	display: inline-block;
	width: 20%;
}
.popup > .msg form > div:nth-child(2) span > input {
	display: inline;
	width: 80%;
}

.popup > .msg .tokenfield .token .token-label {
	max-width: 180px !important;
}


