.clearer {
	clear: both;
}
button {
	cursor: pointer;
}

.objeto, .titulo {
	transition: 0.2s all ease;
}
.objeto {
	background-color: #ddd;
	text-align: left;
	padding: 0 0 3px 0;
	border: 1px solid #000;
	margin: 2px;
	float: left;
}
.objeto > div {
	padding: 1px 2px 1px 2px;
}
.objeto > .titulo {
	padding: 5px;
	background-color: #000;
	color: #fff;
}
.objeto:hover {
	border-color: #42004a;
	background-color: #ebc3f0;
	box-shadow: 0 0 10px #000;
}
.objeto:hover > .titulo {
	background-color: #42004a;
}

.objeto.alerta {
	background-color: #F00;
	color: #fff;
}

.objeto .tags-list span {
	border: 1px solid #aaa;
	border-radius: 4px;
	margin-right: 4px;
	padding: 0px 3px;
	background-color: #eee;
	color: #444;
}

.nombre {
	display: inline;
}
.descripcion {
	margin-left: 20px;
	font-size: 0.7em;
	display: inline;
	opacity: 0.7;
}

.popup {
	position: absolute;
	z-index: 0;
	width: 100%;
	left: 0;
	top: 0;
}
.popup .bg {
	background-color: rgba(0, 0, 0, 0.75);
	position: fixed;
	z-index: -1;
	height: 100%;
	width: 100%;
}
.popup .msg {
	background-color: #fff;
	padding: 1%;
	margin: 5%;
	border: 1px solid #aaa;
}

.popup .msg form {
	border: 1px solid #ddd;
	display: block;
	padding: 6px;
	margin: 3px;
	background-color: #fafafa;
}
.popup .msg form > div {
	display: inline-block;
	margin-right: 1%;
	vertical-align: top;
}
.popup .msg form > div:nth-child(1) {
	width: 19%;
	text-align: right;
	height: 34px;
	line-height: 34px;
}
.popup .msg form > div:nth-child(2) {
	width: 59%;
}
.popup .msg form > div:nth-child(3) {
	width: 19%;
}
.popup .msg form > div:nth-child(2) > input,
.popup .msg form > div:nth-child(3) > input {
	width: 100%;
}
.popup .msg form .cantidad-block {
	border: 1px solid #aaa;
	background-color: #eee;
	margin: 5px 0;
	padding: 5px;
	border-radius: 5px;
}
.popup .msg form .cantidad-block select {
	width: 50%;
	height: 30px;
	margin-bottom: 5px;
}
.popup .msg form > div:nth-child(2) span > span {
	display: inline-block;
	width: 20%;
}
.popup .msg form > div:nth-child(2) span > input {
	display: inline;
	width: 80%;
}

.popup .msg .tokenfield .token .token-label {
	max-width: 180px !important;
}